body {
    font-family: 'Source code pro', Calibri, serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #353535;
    width: 100%;
}

nav > ul{
    margin: 0px;
    padding: 0px;
}

nav > ul::after {
    content: "";
    display: block;
    clear: both;
}

nav > ul > li{
    float: left;
    position: relative;
}

nav > ul > li > a{
    padding: 20px 30px;
    color: brown;
}

nav li{
    list-style-type: none;
}

.submenu{
    display: menu;
}

nav a{
    display: inline-block;
    text-decoration: none;
}

nav li:hover .submenu{
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 1000;
}

.submenu li{
    border-bottom: 1px solid #353535;
}

.submenu li a{
    padding: 15px 30px;
    font-size: 13px;
    color: burlywood;
    width: 270px;
}