body {
    font-family: 'Source code pro', Calibri, serif;
    margin: 0;
    padding: 0;
    padding-top: 70px; /* <-- ajustez selon la hauteur du nav */
}

nav {
    background-image: url('src/img/background-navbar.jpg'); /* chemin relatif ou absolu */
    background-size: cover;      /* couvre tout l'espace */
    background-position: center; /* centre l'image */
    background-repeat: no-repeat;    
    width: 100%;
    position: fixed; 
    top: 0;           /* <-- pour le coller en haut */
    left: 0;
    z-index: 1000;    /* <-- pour qu’il reste au-dessus du reste du contenu */
}

nav > ul{
    margin: 0px;
    padding: 0px;
}

nav > ul::after {
    content: "";
    display: block;
    clear: both;
}

nav > ul > li{
    float: left;
    position: relative;
}

nav > ul > li > a{
    padding: 20px 30px;
    color: brown;
}

nav li{
    list-style-type: none;
}

.submenu{
    display: none;
}

nav a{
    display: inline-block;
    text-decoration: none;
}

nav li:hover .submenu{
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 1000;
}

.submenu li{
    border-bottom: 1px solid #353535;
}

.submenu li a{
    padding: 15px 30px;
    font-size: 13px;
    color: burlywood;
    width: 270px;
}