html, body {
    background-color: #FFFFFF;
    font-family: Arial;
    margin: 0;
    padding: 0;
}

header {
    background-color: #353535;
    width: 100%;
    height: 70px;
    color: #FFFFFF;
}

#titre_bannière {
    color: brown;
}